@mixin disabled {
    background: #e0e0e0;
    color: #999;
}
@mixin flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin break {
    word-break: break-all;
    word-wrap: break-word;
}
@mixin user-name {
    font-size: 30rpx;
}
@mixin info {
    font-size: 26rpx;
    color: #555;
}
